# Virtual environment
.venv/

# Model file (too large for GitHub)
models/

# Python cache
__pycache__/
*.pyc
api/__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db